@font-face{
    font-family : 'Tajawal-Light';
    src:url('../fonts/Tajawal-Light.ttf');
}

:root{
    --main-color: #345D94;
    /*--main-color-light: #4675B5;*/
    /*--main-color-dark: #12325D;*/
    --main-color-light: #517bb5;
    --main-color-dark: #3a567b;
    --blue-shade: #4A5768;
    --main-color-yellow: #FECA43;
    --main-color-grey: #676464;
    --nav-height: 93.5px;
}
 ::-webkit-scrollbar {
          width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }

a{
    color: inherit;
}
a:hover{
    color: inherit;
    text-decoration: none
}

.text-main{
    color: var(--main-color-light);
}
body.home, div.home{
    background-image: url('../images/02.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body.home{
    height: 100vh;
}
div.home.full{
    min-height: calc(100vh)
}
div.home{
    min-height: calc(80vh)
}
body.body2{
    background-image: url('../images/body.jpg');
        background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
       height: 100vh;
    
}
.fullpageCarRentalSearch{
      background-image: url('../images/body.jpg');
        background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
       height: 100vh;
}
body *{
    font-family : 'Tajawal-Light';
}
.leftside{
    width: 90px;
    height: 100vh;
    background: #6a66699e;
    float: left;
}
.topMenu{
    width: 90px;
    height: 90px;
    background: #234D54;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topMenu img{
        width: 30px;
}
.navbar-white{
    background: white !important;
    direction: ltr;
}
.socialnav{
    list-style: none;
    padding: 0px;
    transform: rotate(-90deg);
    display: flex;
    position: absolute;
    bottom: 120px;
    margin-bottom: 0;
    left: -66px;
}
.socialnav li{
    color: white;
    font-family : 'Tajawal-Light';
    padding: 0px 8px 0px 8px;
}
.bottomMenu{
    height: calc(100vh - 90px);
    width: 90px;
    position: relative;
}
.rightSide{
    float: left;
    width: calc(100% - 90px);
    height: 100%;
}
.nav-custom-style{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.profile_clickable{
    position: relative;
    width: 70px;
    height: 70px;
    background: #0F3C3F;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    cursor: pointer;
}
.profile_clickable img{
    width: 20px;
}
.clear{
    clear: both;
}
.nav-custom-style .navbar-brand{
    margin-top: 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.main_nav{
    background: #234D54;
}
.main_nav{
     background: #234D54; 
}
.menu_clickable{
      width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
    float: left;
}
.nav_container .navbar-brand,.nav-custom-style .navbar-brand{
    margin-top: 15px;
    font-size: 16px;
    color: white;
    position: relative;
    padding-bottom: 26px;
    cursor: pointer;
}
.menu_clickable img{
        width: 25px;
}
.nav_container{
    width:calc(100% - 70px);
    float: left;
    padding: 0 50px;
}
.car_image_preview{
    width: 100%;
    border-radius: 1.5rem;
}
.mrtop60{
    margin-top: 60px;
}
body.background_gray{
    background-color: #E8E8E8;
}
.car_single_price{
    /*background: #227E84;*/
    background-color: var(--main-color-light);
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
}
.stars_container{
    margin-top: 15px;
    direction: ltr;
}
.stars_container_another_car_single{
    direction: ltr;
}
.car_single_name , .car_single_cat , .car_single_avaiblity{
    text-align: right;
}


.single_car_desc{
    text-align: right;
    font-size: 15px;
    color: black;
    direction: rtl;
}
.pdingtop30{
    padding-top: 30px;
}
.reserve_btn{
    /*background: #227E84;*/
    background: var(--main-color-light);
    color: white;
    outline: none;
    border: none;
    padding: 8px 50px;
    border-radius: 10px;
    cursor: pointer;
}
body.ar .reserv_now_lable{
    text-align: right;
}
.single_filter_row .col-form-label{
       padding-top: 0px;
    line-height: 1.8;
}
.view_another_cars_text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 50px;
}
body.ar .view_another_cars_text{
    text-align: right;
}
.single_filter_row{
    margin-top: 30px;
}
.anoter_cars_container{
    margin-top: 50px;
}
.another_car_single{
    width: 100%;
    border-radius: 1.25rem;
    overflow: hidden;
    background: white;
    /*border-bottom: 12px solid #227E84;*/
    border-bottom: 12px solid var(--main-color-dark);
}
.another_cars_image{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}
body.ar .another_car_single_price{
    text-align: right;
}
.carHrefPage:hover{
    text-decoration: none;
}
body.ar .another_car_single_name{
    text-align: right;
}

body.ar .another_car_single_cat{
    text-align: right;
}

body.ar .another_car_single_availabilty{
    text-align: right;
}
.readMore{
    text-align: center;
    color: #0F3C3F;
    margin-bottom: 5px;
}
.readMoreImg{
    width: 35px;
    display: block;
    margin: auto;
}
.readMoreContainer{
        display: table;
    margin: 50px auto;
    padding: 50px 0;
    cursor: pointer;
}

.services_section{
    background-size: cover;
    background-position: center;
}
.container600px{
    width: 600px;
    margin: auto;
}

.container_services h4{
    position: relative;
}
.container_services h4:after{
    content: '';
    display: inline-block;
    width: 4rem;
    height: 100%;
    height: 2px;
    background-color: #d6ba75;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, 0);
}


@media(max-width:767px){
    .container600px{
        width: 98%;
    }
}

.allservices_ul li .services_img{
    width: 48px;
}
.allservices_ul li .service_li{
    background-color: #ffffffcc;
    border-radius: 1rem
}


.footer{
    background: #383B38;
    padding: 50px 0 70px 0;
}
body.ar .footer_nav_head{
    text-align: right;
}
.footer_nav_head{
    color: white;
    margin-bottom: 20px;
}
.footer_nav{
    list-style: none;
    padding: 0px;
    display: table;
    margin: auto;
}
body.ar .footer_nav li{
    text-align: right;
}
.footer_nav li{
    text-align: right;
    color: #D6D6D6;
    padding: 3px 0;
}
.footer_nav_container{
    padding-left: 20px;
    padding-right: 0px;
}
body.ar .footer_nav_container{
    padding-left: 0px;
    padding-right: 20px;
}
.last_footer{
    background: #242020;
}
.last_footer table *{
    color: white;
}
.last_footer table td{
    margin-bottom: 0px;
    font-size: 12px;
}
.last_footer{
    padding: 8px 40px;
}
body.ar .last_footer table tr td:first-child{
    text-align: right;
}
.order_details_box .order_details_txt{
    font-size: 23px;
}
.order_details_box .contact_us_text{
    font-size: 15px;
}
body.ar .order_details_box .order_details_txt{
    text-align: right;
}
body.ar .order_details_box .service_type{
    text-align: right;
}
body.ar .order_details_box .car_info{
    text-align: right;
}
body.ar .order_details_box .order_date{   text-align: right;}
body.ar .order_details_box .order_start_date{   text-align: right;}
.order_details_box p{
    margin-bottom: 5px;
}
.order_details_box{
    background: #FFFFFF;
    padding: 30px;
    margin: 60px 0;
    border-radius: 20px;
}

.order_steps_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    /*color: #227E84;*/
    /*border: 2px solid #227E84;*/
    color: var(--main-color-light);
    border: 2px solid var(--main-color-light);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.order_steps_box.done{
    /*background: #227E84;*/
    background-color: var(--main-color-light);
    color: #FFCA8E !important;
    border: none !important;
}
.request_follow_up_container .order_details_txt{
    font-size: 23px;
    margin-bottom: 25px;
}
.request_follow_up_container .contact_us_text{
    font-size: 15px;
}
body.ar .request_follow_up_container .order_details_txt{
    text-align: right;
}
body.ar .request_follow_up_container .service_type{
    text-align: right;
}
body.ar .request_follow_up_container .car_info{
    text-align: right;
}
body.ar .request_follow_up_container .order_date{   text-align: right;}
body.ar .request_follow_up_container .order_start_date{   text-align: right;}
.request_follow_up_container p{
    margin-bottom: 5px;
}
.request_follow_up_container{
    padding: 50px 0;
}
.request_follow_up_container hr{
    border: 0px;
    height: 2px;
    background: #ccc;
    margin: 30px 0;
}
.chat_container .user_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.chat_container .username_and_date p{
    margin-bottom: 0px;
}
.chat_container .single_message{
    width: 100%;
}
.chat_container .single_message.admin .user_image{
    float: left;
}
.chat_container .single_message.admin .username_and_date{
    float: left;
    margin: 0 10px;
}
.chat_container .single_message.user .user_image{
    float: right;
}
.chat_container .single_message.user .username_and_date{
    float: right;
    margin: 0 10px;
}
.chat_container .single_message.user .username_and_date p{
    text-align: right;
}
.chat_container .single_message .message{
    background: #fff;
    width: 50%;
    display: block;
    padding: 15px 10px;
    border-radius: 15px;
    margin: 15px 0 0 0;
    text-align: right;
}
.chat_container .single_message.admin .message{
    float: left;
    
}
body.ar .chat_container .single_message.admin .message{
    text-align: left;
}
@media(max-width:767px){
    .chat_container .single_message .message{
        width: 80%;
    }
}
body.ar .profile_container_white_radius h4{
    text-align: right;
   
}
.profile_container_white_radius h4{
    margin-bottom: 30px;
}
.profile_container_white_radius{
      background: #fff;
    display: block;
    padding: 45px;
    border-radius: 15px;
        margin: 100px 0;
}
body.ar .profile_container_white_radius h5{
    text-align: right;
}
.profile_container_white_radius h5{
    margin-bottom: 15px;
    color: #227E84;
}
body.ar .profile_container_white_radius p{
    text-align: right;
}
.profile_container_white_radius p{
    margin-bottom: 5px;
}
 .profile_cars_txt{
    margin-top: 30px;
}
.add_new_car{
    /*border: 1px solid #227E84;*/
    border: 1px solid var(--main-color-light);
    border-radius: 20px;
    outline: none;
    background: transparent;
    color: #227E84;
    padding: 5px 16px;
    margin-top: 20px;
}
body.ar .add_new_car{
    float: right;
}
#addnewCarModal h5{
    text-align: center;
    font-size: 17px;
    color: #227E84;
    margin-bottom: 20px;
    font-weight: bold;
}
#addnewCarModal .form-control{
    font-size: 13px;
    cursor: pointer;
    padding: 0px 20px;
}
#addnewCarModal .modal-body{
    padding: 50px;
}
#addnewCarModal button{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 6px;
    color: white;
    /*background: #227E84;*/
    background-color: var(--main-color-light);
    cursor: pointer
}
#addnewCarModal .modal-dialog{
   
    margin: 7.75rem auto;
}
#chooseCarOrCreate .modal-body{
    padding: 30px 50px;
}
#chooseCarOrCreate .modal-dialog{
   
    margin: 10.75rem auto;
}
#chooseCarOrCreate button{
        display: block;
    width: 100%;
    background: transparent;
    outline: none;
    /*border: 1px solid #227E84;*/
    border: 1px solid var(--main-color-light);
    border-radius: 29px;
    margin: 30px 0;
    color: #227E84;
    padding: 17px 0;
    cursor: pointer;
}
#chooseCarOrCreate,#addnewCarModal{    padding: 25px;}
.rentalCarSearchBox{
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
    padding: 30px 40px;
    border-radius: 30px;
    width: 100%;
    height: fit-content;
}
.rentalCarSearchBox h5{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.rentalCarSearchBox button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 6px;
    color: white;
    /*background: #227E84;*/
    background: var(--main-color-light);
    cursor: pointer;
    margin-top: 20px;
}
.fullpageCarRentalSearch .container{
        height: calc(100% - 70px);
}
.fullpageCarRentalSearch .row{
    height: 100%;
}
.rentalCarSearchContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sort_by_text{
 font-size: 14px;
}
body.ar .sort_by_text{
    text-align: right;
}
body.ar .signupForm .card-header{
    text-align: right;
}
.signupForm{
    margin: 60px 0;
    height: 100%;
}
.danger-errors p{
    margin-bottom: 5px;
}
body.ar .danger-errors p{
    text-align: right;
}
.profile_dropdown{
    position: absolute;
    width: 160px;
    top: 70px;
    background-color: rgba(255,255,255,.92);
    padding: 0 10px;
    z-index: 100000;
    display: none;
    border: 1px solid black;
}
body.ar .profile_dropdown{
    right: 0px;
}
.profile_dropdown ul{
    list-style: none;
    padding: 10px 0;
    margin: 0px;
}
body.ar .profile_dropdown ul li{
    text-align: right;
}
.profile_dropdown ul li a{
    color: black;
}
.profile_clickable:hover .profile_dropdown{
    display: block;
   
}
.card {
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 15px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}
.card__header {
    padding: 27px 23px;
    border-radius: 4px 4px 0 0;
    position: relative;
    border-bottom: 1px solid #e4e7ed;
    overflow: hidden;
    background-color: transparent;
}
.card__header::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #38a9ff;
    border-radius: 3px 0 0 0;
}
.rtlpage .card__header::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #38a9ff;
    border-radius: 3px 0 0 0;
}
.card__header > h4 {
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: normal;
}
.rtlpage .card__header > h4 {
    text-align: right;
}
.card__content {
    padding: 24px 24px;
}

.card__header + .card__content .df-account-navigation {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card .df-account-navigation {
    margin-top: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
    margin-left: -24px;
}
.df-account-navigation {
    border-radius: 4px;
    overflow: hidden;
}
.df-account-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
.df-account-navigation__link--active a, .df-account-navigation .active {
    border-left: 6px solid #38a9ff;
    padding-left: 18px;
    background-color: #fafafb;
}
.rtlpage .df-account-navigation__link--active a,.rtlpage .df-account-navigation .active{
     border-right: 6px solid #38a9ff;
     border-left: 0px;
    padding-left: 0px;
    background-color: #fafafb;
}
.rtlpage .df-account-navigation__link > a{
    text-align: right;
}
.df-account-navigation__link  {
    border-top: 1px solid #e4e7ed;
}
.df-account-navigation__link > a {
    display: block;
    padding: 24px 24px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #31404b;
    line-height: 1.2em;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.df-personal-info label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    display: block;
}
.rtlpage .df-personal-info label{
    text-align: right;
}
.df-personal-info .form-control:not(textarea) {
    font-family: 'Cairo', sans-serif;
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 5px !important;
}
.df-personal-info .form-group {
    margin: 15px 0 !important;
}
.margin60{
   margin-top: 60px;
    margin-bottom: 60px;
}

body.ar .table>thead>tr>th, body.ar .table>tbody>tr>td {
    text-align: right;
}

.mainbtnstyle{
    color: white !important;
}
.rtlpage *{
    font-family: 'Tajawal-Light' !important;
}
body.ar .saveBtnRight{
    float: right;
    padding: 5px 35px;
}

body.ar .addRoadHelpPage *{
    text-align: right;
    font-family: 'Tajawal-Light' !important;
}
.addRoadHelpPage{
    margin: 70px 0;
}
.RoadserviceTitle{
    margin-bottom: 20px;
}
.paymentChoise .form-check .form-check-label,.paymentChoise .form-check  ,.paymentChoise .form-check-input {
    cursor: pointer;
}
body.ar .paymentChoise .form-check{
    text-align: right;
}
body.ar .paymentChoise .form-check-input{
        margin-right: 0;
    margin-left: 0;
}
body.ar .paymentChoise .form-check-label{margin-right: 20px;}
.roadhelpBtn_confirm{
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.main_drop_container{
    position: absolute;
    width: 160px;
    top: 55px;
    background-color: rgba(255,255,255,.92);
    padding: 0 10px;
    z-index: 100000;
    display: none;
    border: 1px solid black;
}
body.ar .main_drop_container{
    right: 0px;
}
.main_drop_container ul{
    list-style: none;
    padding: 10px 0;
    margin: 0px;
}
body.ar .main_drop_container ul li{
    text-align: right;
}
.main_drop_container ul li a{
    color: black;
}
.services_drop:hover .main_drop_container{
    display: block;
   
}
.chat_bottom{
        width: 100%;
    height: 100px;
    padding-top: 20px;
}
#send_garage_message span{
    display: none;
}
.search_car_btn{
    /*background: #227E84;*/
    background: var(--main-color-light);
    color: white;
    outline: none;
    border: none;
    /*padding: 2px 30px;
    padding: 6px 60px;*/
    height: calc(2.75rem - .25px);
    border-radius: 10px;
    cursor: pointer;
    float: right;
    outline: none !important;
}

.search_car_btn:focus{
    background-color: var(--main-color)
}
body.ar .modal-footer{
    direction: ltr;
}
body.ar .modal-content *{
    text-align: right;
    font-family : 'Tajawal-Light';
}
#addNewCar .modal-content{
    padding: 10px 25px;
}
#addNewCar .close,#confirmBook .close{
       margin: 0;
    padding: 0; 
}
#map{
    width: 100%;
    height: 250px;
}
#map2{
    width: 100%;
    height: 250px;
}
body.ar .order_waitadminResponse{
    text-align: right;
}
.order_waitadminResponse .fa-spinner{
    font-size: 35px;
    margin: 20px 0;
}
.order_waitadminResponse span{
    position: relative;
    top: -8px;
    margin: 0 6px;
}
.allservices_ul_home_page{
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
     margin: auto;
    list-style: none;
    padding: 0px;
    cursor: pointer;
}

.allservices_ul_home_page li{
    display: inline-block;
    background: #E8FEFF;
    border-radius: 10px;
    padding: 8px 12px;
    margin: 0 10px;
}
.allservices_ul_home_page li .services_img{
    margin: 10px auto 5px auto;
    display: block;
}
.allservices_ul_home_page li p{
    margin-bottom: 7px;
    text-align: center;
}
.allservices_ul_home_page li .services_img.rental{
    width: 120px;
}
.allservices_ul_home_page li .services_img.roadHelp{
    width: 120px;
}
.allservices_ul_home_page li .services_img.wash{
    width: 120px;
}
.allservices_ul_home_page li .services_img.car-repair{
    width: 120px;
}
.allservices_ul_home_page li .services_img.spare{
    width: 120px;
}
.bookRentalPost{
    padding-left: 30px;
    padding-right: 30px;
}
#confirmBook .modal-content{
    padding: 20px;
}
body.ar .rentalShareLocation{
    float: right;
}
.rentalShareLocation{
    margin: 25px 0;
}
.rentalBookingForm{
    margin-bottom: 50px;
}
.rentalBookingForm legend{
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.rentalBookingForm .collapse.show{
    display: flex;
}
.rentalBookingForm label{
    display: block;
}
body.ar .rentalBookingForm label{
    text-align: right;
}
.rental_conditions{
    min-height: 90px;
    margin-top: 25px;
}
body.ar .rental_conditions{
    text-align: right;
}
body.ar #deliver_place , body.ar #back_place , body.ar #place{
    direction: ltr;
}
body.ar #deliver_place .close , body.ar #back_place .close , body.ar #place .close{
    margin: 0px;
    padding: 0px;
}
.map_deliver_location , .map_back_location{
        position: relative;
    overflow: hidden;
}
 .pac-card ,.pac-card2{
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container , #pac-container2 {
    padding-bottom: 2px;
  }

  .pac-controls  ,.pac-controls2{
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label ,.pac-controls2 label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input ,#pac-input2 {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin: 12px 0px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    width: 400px;
    border: #e0e0e0 1px solid;
      font-family : 'Tajawal-Light';
  }
body.ar #pac-input ,body.ar #pac-input2{
    direction: rtl;
}

  #pac-input:focus , #pac-input2:focus {
    outline: none;
  }

  #label ,#label2 {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  div#pac-card.pac-card , div#pac-card2.pac-card2{
    z-index: 0;
    position: absolute;
    left: 105px;
    top: 30px;
  }
  
  #location-error , #location-error2 {
    display: inline-block;
    padding: 6px;
    background: #e4a7a7;
    border: #d49c9c 1px solid;
    font-size: 1.3em;
    color: #333;
    display:none;
    margin: 12px;
  }
.pac-container,.pac-container2{
    z-index: 100000;
}
#deliver_place .modal-dialog,#back_place .modal-dialog , #place .modal-dialog{
        max-width: 700px;
}
#deliver_place,#back_place,#place{
    padding-right: 0px !important;
}
@media(max-width:767px){
    .nav_container ,.nav-custom-style{
        padding: 0 20px !important;
    }
}
.login_alert_pop .left-tab {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.login_alert_pop .right-tab {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
body.ar .login_alert_pop .right-tab {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
body.ar .login_alert_pop .left-tab {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.login_alert_pop{
    padding: 0px 0px 25px 0px;
}
.login_alert_pop  .nav-link{
    background: #234D54;
    color: white;
    padding: 30px 0;
}
.login_alert_pop  .nav-link.active{
    border: 1px solid black !important;
}
.pop_login_signup_alert_text{
       text-align: center !important;
    padding: 15px 0px; 
}
.login_alert_pop.nav-tabs{
    border: 0px !important;
}
#login_alert .modal-dialog{
    margin: 6.75rem auto;
}
#login_alert{
    padding: 0px 15px !important;
}
@media(max-width:767px){
    .allservices_ul_home_page li .services_img.rental{
    width: 30px;
}
.allservices_ul_home_page li .services_img.roadHelp{
    width: 30px;
}
.allservices_ul_home_page li .services_img.wash{
    width: 30px;
}
.allservices_ul_home_page li .services_img.car-repair{
    width: 30px;
}
.allservices_ul_home_page li .services_img.spare{
    width: 30px;
}
    .allservices_ul_home_page{
        display: block !important;
            width: 130px !important;
        padding-top: 15px;
    }
    .allservices_ul_home_page li{
        width: 100%;
        margin: 5px 0;
    }
    .allservices_ul_home_page li .services_img{
            margin: 0px auto 0px auto;
    }
    .allservices_ul_home_page li p{
        margin-bottom: 0px;
    }
}
.place_detected_h5{
        text-align: center !important;
    padding: 20px 0 0px 0;
}
.place_detected_icon{
    font: normal normal normal 14px/1 FontAwesome !important;
    text-align: center !important;
    display: block;
    font-size: 50px !important;
    margin-top: 20px;
    color: #82c91e;
}
.navbar-nav .nav-item{
        margin: 0 10px;
}
.navbar-nav .nav-item a{
    color: black;
}

.navbar-nav .dropdown-menu {
    margin: 1.75rem 0 0;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.shadow-dark {
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.35)!important;
}

.dropdown-toggle::after{
    margin-right: .255rem
}
body.ar .dropdown-toggle{
    direction: rtl
}
body.ar .dropdown-menu{
    direction: rtl;
    text-align: right;
}
.overlay {
    height: calc(100% - 62px);
    background: #47474773;
    padding-top: 3rem;
    padding-bottom: 4rem
}
div.home .overlay{
    height: 100%
}
body.ar .best_services_h3{
    text-align: right;
}
.best_services_h3{
     width: 50%;
    color: white;
}
body.ar .site_desc{
    text-align: right;
}
.site_desc{
    color: white;
    margin: 20px 0;
}
body.ar .butns{
    float: right;
}
body.ar .butns a{
    margin-left: 15px;
}
.butns a{
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 15px;
    color: white;
}
.container_services{
      background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 100%;
    height: fit-content;
        /*padding: 35px;*/
}

@media (max-width: 991px){
    .container_services{
        background-color: transparent;
        -webkit-backdrop-filter: unset !important;
        backdrop-filter: unset !important;
    }
}



.container_services h4{
    text-align: center;
    color: white;
}
.service_preview img{
        margin: auto;
    display: block;
    width: 48px;
}

.service_preview .icon, .services_row .icon{
    display: inline-block;
    position: relative;
}
/*.service_preview .icon:before, .services_row .icon:before{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: #4a78b6;
    position: absolute;
    top: 0;
    left: -17%;
    border-radius: 50%;
    z-index: -1;
}*/

/*.service_preview svg, .services_row svg{filter: grayscale(1);}*/
.service_preview h5{
    text-align: center;
}
.service_preview p{
    font-size: 15px;
    text-align: center;
    /*margin-bottom: 0px;*/
}
.service_preview{
    background-color: #ffffffaa;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
        /*padding: 2rem;*/
}
.signle_service_inHome{
      background-color: #ffffffaa;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.signle_service_inHome img{
    width: 44px;
    margin: auto;
    display: block;
}
.services_row div{
    /*padding: 20px 8px;*/
}
.services_row{
    margin-right: -8px;
    margin-left: -8px;
}
.center_texts_center{
        height: 100%;
        display: flex;
        padding-top: 35px;
        /*align-items: center;*/
}
.center_texts_center_child{
    height: fit-content;
}
.overlay_content{
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-toggler{
    border: 1px solid #535353;
    
}
.footer_home{
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
}
.footer_home ul{
    list-style: none;
    padding: 0;
    display: table;
}
.footer_home ul li{
    color: white;
    display: inline-block;
    margin: 0 10px;
}
body.ar .footer_home ul li:nth-child(1){
    margin-right: 0px;
}
.social_list{
float: left;
}

.form-control{
    border-radius: .65rem;
    padding: .75rem 1rem;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.75rem + 2px);
}


.office-table td{
    border: none;
}


@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}


@media(max-width:991px){
    body.home, div.home, div.home.full{
        background-attachment: fixed;
        height: auto;
    }
    .center_texts_center_child{
        
    padding: 50px 0;
    }
    .container_services{
            margin-bottom: 40px;
    }
    .best_services_h3{
        width: 70%;
    }
    .footer_home{
       position: unset !important;
    }
    .foot_nav{
        display: table;
        margin: auto;
    }
    .social_list{
        float: none;
        margin: 10px auto;
    }
}

.type_input_item{
    display: inline-block;
}
.type_input_item input{
    display: none;
}

.type_input_item label{
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    /*border: 1px dashed #dee2e6!important;*/
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.type_input_item label .place_label, .type_input_item label .brand_label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.type_input_item input.type_input:checked + label.place{
    /*background-color: #c5cfda;*/
    box-shadow: 0px 0px 9px #aba8a8
}

.type_input_item input.type_input:checked + label.brand{
    /*background-color: #c5cfda;*/
    box-shadow: 0px 0px 16px #aba8a863
}

.type_input_item input.type_input:checked + label:not(.place){
    background-color: #c5cfda;
}